* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh; }

.navbar-light .navbar-toggler {
  background-color: #b1b1b1; }

.centrado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

h2 {
  color: white; }

h3, h4 {
  color: white; }

.navbar {
  background-color: black; }

.navbar-light .navbar-nav .nav-link {
  color: white; }

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: white; }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: white; }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:active {
  color: white; }

#navbarNavDropdown {
  justify-content: center; }

.navbar-light .navbar-nav .nav-link {
  justify-content: center;
  font-size: 1.1rem;
  padding-left: 3rem;
  padding-right: 3rem; }

.cabecera {
  position: fixed;
  z-index: 1;
  width: 100%; }

.menu a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out; }

.menu a:hover::before {
  transform: scaleX(1); }

.menu {
  display: flex;
  justify-content: center; }

.menu a {
  position: relative;
  display: block;
  padding: 5px; }

.menu[data-animation="center"] a::before {
  transform-origin: center; }

#videoInicio {
  width: 40%;
  height: 100vh; }

.contenedorVideo {
  padding-top: 4rem;
  width: 100%; }

.integrantesFoto img {
  width: 80%;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 2rem; }

p {
  color: white;
  font-size: 1.2rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.692);
  width: 80%; }

.fondoPrincipal {
  background-image: url(../imagenes/wall.jpg);
  min-height: 100vh;
  background-position: center center;
  background-size: cover; }

#galeriaImagenes {
  width: 30%;
  padding-bottom: 4rem; }

.fondoContacto {
  background-image: url(../imagenes/microfono.jpg);
  min-height: 100vh;
  background-position: center center;
  background-size: cover; }

form {
  width: 40%; }

.formulario {
  padding: 1rem; }
  .formulario .formulario__item {
    margin-bottom: 1rem;
    width: 100%;
    height: 2rem; }
  .formulario .formulario__item--mensaje {
    width: 100%;
    padding-bottom: 5rem; }

.botonEnviar {
  width: 100%;
  font-size: 1rem;
  height: 3rem;
  background-color: #fa6d6d;
  margin-bottom: 5rem;
  border-radius: 0.8rem; }
  .botonEnviar:hover {
    background-color: #717181; }

footer {
  background-color: #222222;
  width: 100%;
  margin-top: auto; }

.listaFooter {
  text-decoration: none;
  color: white;
  list-style: none;
  padding: 1.2rem; }
  .listaFooter li {
    padding-bottom: 1rem; }
    .listaFooter li a {
      color: white;
      text-decoration: none; }

@media only screen and (max-width: 768px) {
  #videoInicio {
    width: 100%; }
  form {
    width: 60%; } }

@media only screen and (max-width: 480px) {
  .integrantesFoto img {
    width: 100%; }
  #galeriaImagenes {
    width: 100%; }
  form {
    width: 100%; }
  .formulario .formulario__item {
    width: 80%; }
  .formulario .formulario__item--mensaje {
    width: 80%;
    padding-bottom: 5rem; }
  .botonEnviar {
    width: 80%; } }
