footer{
    background-color: rgb(34, 34, 34);
    width: 100%;   
    margin-top: auto;
}

.listaFooter{
    text-decoration: none;
    color: white;
    list-style: none;
    padding: 1.2rem;

    & li{
        padding-bottom: 1rem;
        
        & a{
            color: white;
            text-decoration: none;
        }
    }
}