.nombre img{
        width: 50%;
        padding-top: 4rem;
}
    
.integrantesFoto img{
        width: 70%;
        height: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
}

.logoValirios img{
    display: none;    
}