@media only screen and (max-width: 768px){
    #videoInicio{
        width: 100%;
      }
    
      .contenedorVideo{
        padding-top: 0;
      }
    form{
        width: 60%;
    }
    
}

@media only screen and (max-width: 480px) {

    #inicio{
        height: 100vh;
    }
    .nombre img{
        width: 80%;
        padding-top: 9rem;
    }
    
    .integrantesFoto img {
        padding-top: 4rem;
        width: 100%;
    }

    #sobreNosotros .subtitulo{
        margin-top: 6rem;
    }

    #galeriaIntegrantes, #galeriaEnsayos, #galeriaSala{
        width: 100%;
        padding-top: 2rem;
    }

    form{
        width: 100%;
    }

    .formulario{
        .formulario__item {
            width: 80%;
        }
        .formulario__item--mensaje{
            width: 80%;
            padding-bottom: 5rem;
        }     
    }

    
    .botonEnviar{
        width: 80%;
    }
}