@media only screen and (max-width: 768px){
    #videoInicio{
        width: 100%;
      }
    
      .contenedorVideo{
        padding-top: 0;
      }
    form{
        width: 60%;
    }
}

@media only screen and (max-width: 480px) {

    #inicio{
        height: 100vh;
    }
    .nombre img{
        width: 80%;
        padding-top: 6rem;
        padding-bottom: 2rem;
    }
    
    .integrantesFoto img {
        padding-top: 4rem;
        width: 100%;
    }

    .subtitulo{
        padding-top: 6rem;
    }

    #sobreNosotros p{
        font-size: 1rem;
        margin-top: 5rem;
        padding: 1rem 0.4rem 1rem 0.4rem;
        width: 85%;
    }

    #galeriaIntegrantes, #galeriaEnsayos, #galeriaSala{
        width: 100%;
        padding-top: 5rem;
    }

    form{
        width: 100%;
        
        .formulario{
            .formulario__item {
                width: 80%;
            }
            .formulario__item--mensaje{
                width: 80%;
                padding-bottom: 2rem;
            }     
        }
    }

    .botonEnviar{
        width: 80%;
    }

    .logoInstagram a{
        font-size: 1.5rem;
    }

    ol, ul {
        padding-left: 0;
        padding-top: 2rem;
    }
    footer{
        .piePagina{
          flex-direction: column;
          padding: 1rem;
        }
    }
}