p{
    color: white;
    font-size: 1.2rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.507);

}

h2{
    padding-top: 4rem;
    color: white;
    background-color: rgb(61, 61, 61);
}

.fondoPrincipal{
    background-image: url(../../imagenes/fondo2.jpeg);
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
}