*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.navbar-light .navbar-toggler{
    background-color: rgb(177, 177, 177);
}

.centrado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    color: white;
}

h3, h4{
    color: white
}